@inject IKategorijaService KategorijaService
<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">stibyapp</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="dropdown-divider"></li>
        @foreach (var Kategorija in KategorijaService.Kategorija)
        {
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="@Kategorija.Url">
                    <span class="oi oi-@Kategorija.Ikona" aria-hidden="true"></span> @Kategorija.Ime
                </NavLink>
            </li>
        }
        
        
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    protected override void OnInitialized()
    {
        KategorijaService.LoadKategorija();
    }
}
